<aside class="small-12 large-4 columns page-content subscribe">
  <h2>Want to stay up to date with BsidesPDX?</h2
    <p><a href="http://groups.google.com/group/bsidespdx">Join the Google group!</a></p>
    <p>Follow us on:</p>
    <ul>
        <li><a href="https://twitter.com/BSidesPDX">X/Twitter</a></li>
        <li><a href="https://ioc.exchange/@BSidesPDX">Mastodon - ioc.exchange</a></li>
        <li><a href="https://pdx.social/@BSidesPDX">Mastodon - pdx.social</a></li>
        <li><a href="https://www.linkedin.com/company/bsidespdx">LinkedIn</a></li>
    </ul>

  

</aside>
