# macOS specific bits
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# ruby bits & bobs
.bundle
.sass-cache
_site
bin
vendor/ruby
Gemfile.lock
.#*
.jekyll-metadata

# very specific something or other
events/2024/sponsors.md.malcolm

