---
layout: default
---

<article class="row">
	<section class="small-12 large-8 columns page-content">
        <h1><a href="https://hackboat.org/">Hackboat 2026</a> is on Friday June 5th, 2026<h1>
		<h2>BSidesPDX 2026 will be on </br>Fri Oct 23rd & Sat Oct 24th, 2026</h2>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
        </ul>
		<h1>About BSides PDX</h1>
		BSides Portland is a tax-exempt charitable 501(c)(3) organization founded with the mission to cultivate the Pacific Northwest information security and hacking community by creating local inclusive opportunities for learning, networking, collaboration, and teaching.
		<br>
		<br>
		If you have questions, comments, or are interested in being more involved, don't hesitate to reach out to info [@] bsidespdx.org.
	</section>
	<!--{% include asides/recent_posts.html %}-->
	{% include asides/subscribe.html %}
	<!--{% include asides/donate.html %}-->
</article>
