{% if page.header %}
  <header role="banner">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ page.header_xl }}" srcset="{{ site.baseurl }}/{{ page.header_sm }} 144w, {{ site.baseurl }}/{{ page.header_med }} 288w, {{ site.baseurl }}/{{ page.header_large }} 432w, {{ site.baseurl }}/{{ page.header_xl }} 576w" alt="{{ site.name }} header image" sizes="(max-width:576) 288px,576px" title="{{ site.name }} header image" class="center"></a>
  </header>
{% elsif site.header %}
  <header role="banner">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{ site.header_xl }}" srcset="{{ site.baseurl }}/{{ site.header_sm }} 144w, {{ site.baseurl }}/{{ site.header_med }} 288w, {{ site.baseurl }}/{{ site.header_large }} 432w, {{ site.baseurl }}/{{ site.header_xl }} 576w" alt="{{ site.name }} header image" sizes="(max-width:576) 288px,576px" title="{{ site.name }} header image" class="center"></a>
  </header>
{% endif %}
